- if logged_in?
  %p Welcome #{current_user.name}!
  %p #{current_user.id} | #{current_user.email_address} | #{current_user.provider} | #{current_user.uid}
- else
  %p
    To manage/add collections:
  %p
    %a{ :href => '/auth/twitter' }
      %img{ :src => '/assets/sign-in-with-twitter.png' }
